*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.header img{
    width: 146px;
    height: 35px;
    padding-left: 200px;
}
.details{
    width: 100%;
    height: 912px;
}
.lison{
    float: left;
    padding-left: 50px;
}
.lison a{
    color: rgb(186, 199, 211);
}
.headerson{
    margin-left: 60px;
}
.headerson a :active{color: blueviolet; border-bottom: 2px solid blueviolet;}
.log{
    padding-left: 500px;
}
.login{
    border: 1px solid blueviolet;
    color: blueviolet;
    width: 70px;
    height: 30px;
    background: white;
}
.logreg{
    border: 1px solid blueviolet;
    color: white;
    width: 70px;
    height: 30px;
    background: blueviolet;
}

.body{
    width: 100%;
    height: 912px;
    background: #f1efef;
}
.body img{
    width: 100%;
    height: 190px;
}
.text{
    width: 1200px;
    height: 218px;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 150px auto;
    display: flex;
    background: url(image/jobdetailbrief.png);
}
.text span{
    font-size: 25px;
}
.title{
    margin-left: 20px;
    margin-top: 30px;

}
.title button{
    width: 70px;
    height: 30px;
    color: rgb(145, 152, 158);
    border-style: none;
}
.btn{
    margin-left: 500px;
    margin-top: 30px;
    width: 380px;
    display: flex;
}
.btn button{
    width: 140px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid blueviolet;
    background: white;
}
.textson{
    width: 820px;
    height: 590px;
    background: white;
}
.tit{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.fontcolor{
    color:rgb(145, 152, 158);
    font-size: 13px;
}
.floatbody{
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 382px auto;
    display: flex;
}
.right{
    padding: 20px;
    background: white;
    margin-left: 40px;
    height: 250px;
    width: 300px;
}
.right div{
    display: flex;
    align-items: center;
}
.footer{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background: rgb(33, 32, 32);
    color: white;
}
.top{
    margin-top: 40px;
    margin-left: 80px;
}
.footli{
    float: left;
    padding-left: 25px;
}
.footli a{
    color: white;
}

.gokjob{
    width: 100%;
    height: 1800px;
    background:rgb(240, 239, 234);
    display: none;
}
.banner{
    width:1238px;
    height: 342px;
}
.job_h1{
    font-weight: bolder;
    font-size: 17px;
    color: black;
    height: 13px;
}
.job_btn{
    width: 38px;
    height: 3px;
    border-radius: 1px;
    background: rgb(135, 137, 235);
    border-style: none;
}
.job_body{
    width: 100%;
    height: 1300px;
}
.job_body1{
    width: 1200px;
    height: 540px;
    margin: 0 auto;
    margin-top: 30px;
}
.companie{
    width: 1200px;
    height: 540px;
    column-count: 4;
}
.companieson{
    width: 270px;
    height: 160px;
    margin-bottom: 20px;
    text-align: center;
    background: white;
}
.job_body2{
    width: 1200px;
    height: 540px;
    margin: 0 auto;
    margin-top: 30px;
}
.job_job{
    width: 1200px;
    height: 540px;
    column-count: 3;
}
.job_jobson{
    width:350px;
    height: 220px;
    margin-bottom: 20px;
    text-align: center;
    background: white;
    padding-top: 20px;
    padding-left: 18px;
    text-align: left;
}
.jobson_btn{
    width: 70px;
    height: 30px;
    color: rgb(186, 199, 211);
    background: white;
    border: 1px solid rgb(186, 199, 211);
}
.job_body3{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
}
.job_body3_son{
    width: 250px;
    height: 130px;
    float: left;
    margin-right: 20px;
    background: white;
    padding-top: 20px;
    padding-left: 10px;
}